body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background-color: #091037;
    font-family: 'Open Sans', sans-serif;
    color: #fff
}

