<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PL < редактировать книгу</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBook_id()})}" th:object="${book}">
    <div class="input-area">
        <input type="text" th:field="*{title}" id="title" placeholder="Название">
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">(error)</div>
    </div>

    <div class="input-area">
        <input type="text" th:field="*{author}" id="author" placeholder="Автор">
        <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">(error)</div>
    </div>

    <div class="input-area">
        <input type="number" th:field="*{year_of_creation}" id="year" placeholder="Год выпуска">
        <div style="color:red" th:if="${#fields.hasErrors('year_of_creation')}" th:errors="*{year_of_creation}">(error)</div>
    </div>

    <div id="bars">
        <input type="submit" value="Обновить данные">
        <a th:href="@{/books}">&lt Назад</a>
    </div>
</form>

</body>
</html>