<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PL > страница книги</title>
</head>
<body>

<div id="bookInfo" th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear_of_creation()}"></div>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getFull_name()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBook_id()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

</body>
</html>