<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pocket Library</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<img src="../img/logo.png" alt="logo">

<h1>Библиотека<br>POCKET LIBRARY</h1>

<a th:href="@{/readers}">
    <div class="options">
        Список читателей
    </div>
</a>

<a th:href="@{/books}">
    <div class="options">
        Список книг
    </div>
</a>

</body>
</html>